/* div {
    background: #DDD;
    width: 200px;
    height: 200px;
    margin: 10px 0;
} */

div {
    background: #DDD;
    width: 200px;
    height: 100px;
    margin: 10px 0;
}

.hide {
    display: none;
    /* Will Not fadeIn */
    /* visibility: hidden;  */
}

 /* p {
    background: #DDD;
    width: 200px;
} */